.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	}

.container img{
	height: 200px;
	width: auto;
	padding-top: 10px;
}

.container h1 {
	font-style; helvetica;
	font-size: 40 px;
}